.mx_BaseAvatar_initial {
    z-index: 1;
}

.mx_RoomTile_avatar_room .mx_RoomTile_avatar_container .mx_BaseAvatar .mx_BaseAvatar_image,
.mx_RoomTile_avatar_room .mx_RoomTile_avatar_container .mx_BaseAvatar_image {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    vertical-align: top;
    background-color: $avatar-bg-color;
    border-radius: 0;
}

.mx_RoomHeader_avatar_room .mx_BaseAvatar .mx_BaseAvatar_image,
.mx_RoomHeader_avatar_room .mx_BaseAvatar_image {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border-radius: 0;
}

.mx_RoomHeader_avatar_restricted {
    background-image: url('$(res)/img/162d58.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    flex: unset;
    padding: 4px 4px 4px 4px;
}

.mx_RoomHeader_avatar_unrestricted {
    background-image: url('$(res)/img/cccccc.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    flex: unset;
    padding: 4px 4px 4px 4px;
}

.mx_RoomHeader_accessibility {
    color: $roomheader-accessibility-color;
    font-weight: 400;
    font-size: 13px;
    margin: 0 7px;
    margin-top: 4px; // to align baseline of topic with room name
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid transparent;
    line-height: 1.2em;
    max-height: 2.4em;
    font-style: italic;
}

.mx_RoomTile_avatar_restricted {
    background-image: url('$(res)/img/162d58.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.mx_RoomTile_avatar_unrestricted {
    background-image: url('$(res)/img/cccccc.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.mx_RoomTile_dm {
    left: 40px;
    bottom: 10px;
}

.tc_RoomDirectory_roomPreview {
    padding: 7px 4px 7px 4px !important;
}

.mx_RoomDirectory_preview {
    width: 60px;
}

.mx_RoomDirectory_join {
    width: 93px;
}

.mx_EntityTile_name_expired {
    color: $primary-fg-color;
    opacity: 0.25;
}

.mx_EntityTile_unavailable .mx_EntityTile_avatar,
.mx_EntityTile_unavailable .mx_EntityTile_name,
.mx_EntityTile_offline_beenactive .mx_EntityTile_avatar,
.mx_EntityTile_offline_beenactive .mx_EntityTile_name,
.mx_EntityTile_online_beenactive .mx_EntityTile_avatar,
.mx_EntityTile_online_beenactive .mx_EntityTile_name,
.mx_EntityTile_offline_neveractive .mx_EntityTile_avatar,
.mx_EntityTile_offline_neveractive .mx_EntityTile_name {
    opacity: 0.9;
}

.mx_InviteDialog_warningText {
    margin-right: 45px;
    color: #eb5757;
    font-size: 14px;
}

.tc_PasswordHelper {
    position: relative;
    top: 7px;
    left: 5px;
}

.mx_cryptoEvent {
    &.mx_cryptoEvent_icon::after {
        background-image: url("$(res)/img/tchap/e2e/padlock-encrypted_normal.svg");
        width: 12px;
        height: 16px;
    }
}

.mx_accessRulesEvent {

    display: grid;
    grid-template-columns: 24px minmax(0, 1fr) min-content;

    &.mx_accessRulesEvent_icon::after {
        grid-column: 1;
        grid-row: 1 / 3;
        width: 16px;
        height: 16px;
        content: "";
        background-image: url("$(res)/img/tchap/feather-customised/user.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        margin-top: 4px;
    }

    .mx_accessRulesEvent_title, .mx_accessRulesEvent_subtitle {
        overflow-wrap: break-word;
    }

    .mx_accessRulesEvent_title {
        font-weight: 600;
        font-size: $font-15px;
        grid-column: 2;
        grid-row: 1;
    }

    .mx_accessRulesEvent_subtitle {
        grid-column: 2;
        grid-row: 2;
        font-size: $font-12px;
    }
}

.mx_TopLeftMenuButton_chevron {
    margin: 0 7px 0 0;
    min-width: 10px;
}


//==================== Design V3 ====================//

// Left Panel Main
.mx_LeftPanel {
    background-color: #162d58;
}

.mx_LeftPanel_explore .mx_AccessibleButton {
    color: #dddddd;
    &::before {
        mask: url('$(res)/img/tchap/explore.svg');
        background-color: #dddddd;
    }
    &:hover {
        background-color: #273d64;
    }
}

.mx_LeftPanel_exploreAndFilterRow input::placeholder {
    color: #dddddd !important;
}

.mx_LeftPanel_exploreAndFilterRow {
    border-bottom: 1px solid #35496e;
}

// Top Bar
.mx_TopLeftMenuButton {
    background-color: #162d58;
    color: white;
    border-bottom: none;
    padding: 10px 4px;
}

.mx_TopLeftMenu .mx_TopLeftMenu_section_withIcon {
    font-size: 16px;
    .mx_AccessibleButton::after {
        background-color: #dddddd;
        width: 22px;
        height: 22px;
        top: 5px;
        left: 13px;
    }
    .mx_TopLeftMenu_icon_settings::after {
        mask-image: url('$(res)/img/tchap/feather-customised/settings.svg');
        mask-size: 22px;
    }
    .mx_TopLeftMenu_icon_signout::after {
        mask-image: url('$(res)/img/tchap/feather-customised/sign-out.svg');
        mask-size: 22px;
    }
    .mx_AccessibleButton:hover {
        background-color: #35496e;
    }
}

.mx_SearchBox > input[type="text"].mx_textinput_icon.mx_textinput_search {
    background-image: url('$(res)/img/tchap/feather-customised/search-input.svg');
}

.mx_SearchBox {
    flex: 1 1 0;
    min-width: 0;

    &.mx_SearchBox_blurred:hover {
        background-color: #273d64;
    }
    &:not(.mx_SearchBox_blurred) {
        background-color: #273d64;
        input {
            color: #dddddd !important;
        }
        input::placeholder {
            color: #61708b !important;
        }
    }
    .mx_SearchBox_closeButton {
        background-image: url('$(res)/img/tchap/icons-close.svg');
    }
}

// Room List / SubList
.mx_RoomSubList_label > span {
    color: #dddddd;
    font-weight: bold;
    font-size: 14px;
}

.mx_RoomList {
    overflow-y: scroll;
}

.mx_RoomList > .mx_ResizeHandle > div {
    background: #35496e;
}

.mx_RoomList > .mx_ResizeHandle.mx_ResizeHandle_vertical {
    padding-top: 4px;
}

.mx_RoomSubList_scroll {
    padding: 0;
}

.mx_RoomSubList {
    height: auto !important;
}

.mx_RoomSubList_labelContainer {
    padding-top: 10px;
    border-radius: 4px;
}

// Room Tile
.mx_RoomTile {
    min-height: 60px;
    margin-top: -1px;
    &:focus {
        background-color: #35496e;
    }
    &::after {
        content: "";
        position: absolute;
        left: 10%;
        bottom: 0;
        height: 1px;
        width: 80%;
        border-bottom: 1px solid #35496e;
    }
}

.mx_RoomTile_name {
    color: #dddddd;
    padding-left: 10px;
    font-size: medium;
}

.mx_RoomTile_subtext {
    color: #dddddd;
    padding: 0 0 0 11px;
    margin-top: 6px;
}

.mx_RoomTile_selected {
    border-radius: 0;
    background-color: #35496e;
}

.mx_RoomTile_unread .mx_RoomTile_name, .mx_RoomTile_highlight .mx_RoomTile_name {
    color: #dddddd;
    font-weight: bold;
}

.tc_RoomTile_badge {
    display: inline;
    margin-left: 10px;
    padding: 0 8px 0 8px;
    background-color: #dddddd !important;
    color: #162d58 !important;
    font-weight: bold;
}

.tc_RoomSubList_badge > div {
    padding: 0 8px 0 8px;
    background-color: #dddddd !important;
    color: #162d58 !important;
    font-weight: bold;
}

// Context Menus
.mx_ContextualMenu_top {
    background-color: #273d64;
    color: #dddddd;
    -webkit-box-shadow: 4px 4px 4px 0 #273d64;
    box-shadow: 4px 4px 4px 0 #273d64;
}


.mx_ContextualMenu.mx_ContextualMenu_withChevron_left {
    background-color: #273d64;
    color: #dddddd;
}

.mx_RoomTileContextMenu_notif_field.mx_AccessibleButton,
.mx_RoomTileContextMenu_tag_field.mx_AccessibleButton,
.mx_RoomTileContextMenu_leave.mx_AccessibleButton {
    &:hover {
        background-color: #35496e;
    }
}
.mx_ContextualMenu_chevron_left {
    border-right: 8px solid #273d64;
}

.mx_RoomTileContextMenu_separator {
    border-color: #35496e;
}

// Room Header
.mx_RoomHeader_wrapper {
    height: 72px;
}

.tc_RoomHeader_encryptionInfos {
    left: -20px;
    position: relative;
    bottom: -13px;
}

.mx_RoomHeader_name:hover div:not(.mx_RoomHeader_editable)/*:not(.mx_RoomHeader_topic)*/ {
    cursor: initial;
    color: #45474a;
}

.tc_RoomHeader_infos {
    width: 100%;
    .tc_RoomHeader_classicInfos {
        display: flex;
        .mx_RoomHeader_topic {
            max-height: 16px;
            margin-top: 6px;
        }
        .mx_RoomHeader_name {
            font-size: 19px;
        }
    }
    .tc_RoomHeader_advancedInfos {
        display: flex;
    }
    .tc_RoomHeader_memberCount {
        font-size: 11px;
        margin-left: 10px;
        margin-top: 3px;
    }
    .tc_RoomHeader_roomType {
        margin-right: 10px;
        font-size: 14px;
        margin-left: 8px;
    }
    .tc_RoomHeader_roomType_direct {
        color: #9e9e9e;
    }
    .tc_RoomHeader_roomType_restricted {
        color: #eb5757;
    }
    .tc_RoomHeader_roomType_unrestricted {
        color: #f2994a;
    }
    .tc_RoomHeader_roomType_public {
        color: #6fcf97;
    }
}
