.mx_BaseAvatar_initial {
    z-index: 1;
}

.mx_RoomTile_avatar_room .mx_RoomTile_avatar_container .mx_BaseAvatar .mx_BaseAvatar_image,
.mx_RoomTile_avatar_room .mx_RoomTile_avatar_container .mx_BaseAvatar_image {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    vertical-align: top;
    background-color: $avatar-bg-color;
    border-radius: 0;
}

.mx_RoomHeader_avatar_room .mx_BaseAvatar .mx_BaseAvatar_image,
.mx_RoomHeader_avatar_room .mx_BaseAvatar_image {
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    border-radius: 0;
}

.mx_RoomHeader_avatar_restricted {
    background-image: url('$(res)/img/162d58.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    flex: unset;
    padding: 4px 4px 4px 4px;
}

.mx_RoomHeader_avatar_unrestricted {
    background-image: url('$(res)/img/cccccc.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    flex: unset;
    padding: 4px 4px 4px 4px;
}

.mx_RoomHeader_accessibility {
    color: $roomheader-accessibility-color;
    font-weight: 400;
    font-size: 13px;
    margin: 0 7px;
    margin-top: 4px; // to align baseline of topic with room name
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid transparent;
    line-height: 1.2em;
    max-height: 2.4em;
    font-style: italic;
}

.mx_RoomTile_avatar_restricted {
    background-image: url('$(res)/img/162d58.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.mx_RoomTile_avatar_unrestricted {
    background-image: url('$(res)/img/cccccc.png');
    background-repeat: no-repeat;
    background-position: center;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.mx_RoomTile_dm {
    left: 32px;
}

.tc_RoomDirectory_roomPreview {
    padding: 7px 4px 7px 4px !important;
}

.mx_RoomDirectory_preview {
    width: 60px;
}

.mx_RoomDirectory_join {
    width: 93px;
}

.mx_EntityTile_name_expired {
    color: $primary-fg-color;
    opacity: 0.25;
}

.mx_EntityTile_unavailable .mx_EntityTile_avatar,
.mx_EntityTile_unavailable .mx_EntityTile_name,
.mx_EntityTile_offline_beenactive .mx_EntityTile_avatar,
.mx_EntityTile_offline_beenactive .mx_EntityTile_name,
.mx_EntityTile_online_beenactive .mx_EntityTile_avatar,
.mx_EntityTile_online_beenactive .mx_EntityTile_name,
.mx_EntityTile_offline_neveractive .mx_EntityTile_avatar,
.mx_EntityTile_offline_neveractive .mx_EntityTile_name {
    opacity: 0.9;
}

.mx_InviteDialog_warningText {
    margin-right: 45px;
    color: #eb5757;
    font-size: 14px;
}

.tc_PasswordHelper {
    position: relative;
    top: 7px;
    left: 5px;
}

.mx_cryptoEvent {
    &.mx_cryptoEvent_icon::after {
        background-image: url("$(res)/img/tchap/e2e/padlock-encrypted_normal.svg");
        width: 12px;
        height: 16px;
    }
}
